.header-footer, header, footer {
  width: 800px;
  height: 100px;
  font-family: verdana;
  font-size: 50px;
  display: flex;
  align-items: center;
  text-align: center; }

.box_uno {
  background-color: #4285f4;
  width: 50%; }

.box_dos {
  width: 25%;
  background-color: green; }

.header-footer, header, footer {
  width: 800px;
  height: 100px;
  font-family: verdana;
  font-size: 50px;
  display: flex;
  align-items: center;
  text-align: center; }

* {
  background-color: black; }

main {
  width: 1350px;
  height: 500px;
  color: white;
  text-align: center;
  background-color: aqua; }
  main img {
    width: 1000px;
    height: 400px; }
  main h1 {
    color: #c228ff; }

.header-footer, header, footer {
  width: 800px;
  height: 100px;
  font-family: verdana;
  font-size: 50px;
  display: flex;
  align-items: center;
  text-align: center; }
