@import"../variables/variables";
@import"../sass2/extend";
@import"../sass2/mixins";

$color: rgb(194, 40, 255);
$width: 1000px;
$size: small;

*{
background-color: black;
}

header{
    @extend .header-footer;
}
    
// //         ;
//         justify-content: space-around;
//         font-size: 25px;
//         background-color: $color;
        
//         a{
//             font-family: Verdana, Geneva, Tahoma, sans-serif;
//             color: white;
//             background-color: $color;
//             &:hover{
//                 color: #070707 ;
//             }
//         }
//     }
// }

main{
    width: 1350px;
    height: 500px;
    color: white;
    text-align: center;
    background-color: aqua;
    img{
        width: $width;
        height: 400px;
        
    }
    h1{
        color: $color;
    }
}
